<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: "Poppins", sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <h1>Your Elearining order is confirmed!</h1>
        <p>And were just as excited as you are.</p>
      </div>
      <br />
      <br />
      <div>
        <h4>Here's is what you ordered:</h4>
        <table style="border-bottom: 1px solid #0000002f">
          <tr>
            <td>Order #: <%= order._id %></td>
            <td>Order Date: <%= order.date %></td>
            <td></td>
          </tr>
        </table>
        <table style="width: 90%; margin: auto; display: block">
          <tr>
            <td>Item</td>
            <td>Qty</td>
            <td>cost</td>
          </tr>
        </table>
        <table style="width: 90%; margin: auto; display: block">
          <tr>
            <td><%= order.name %></td>
            <td>1</td>
            <td><%= order.price %></td>
          </tr>
        </table>
        <table style="margin-top: -20px">
          <tr>
            <td>Total:</td>
            <td><%= order.price %></td>
          </tr>
        </table>
      </div>
      <div>
        <p>
          If you have any questions, please contact our support team at
          <a href="mailto:olamidemoraks@gmai.com">olamidemoraks@gmail.com</a>
        </p>
      </div>
      <p>&copy; 2023 Elearning. All rights reserved</p>
    </div>
  </body>
</html>
